<ion-tabs>

  <ion-tab-bar slot="bottom" class='toolbarTopTitle'>
    <ion-tab-button tab="tab1">
      <ion-icon name="contact" ></ion-icon>
      <ion-label class='bottomLabelLetters'>Tipsters</ion-label>
    </ion-tab-button>

   
    <ion-tab-button tab="tab2">
      <ion-icon name="stats"></ion-icon>
      <ion-label class='bottomLabelLetters'>Stats</ion-label>
    </ion-tab-button>
    
    <!--
    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar> 

</ion-tabs>
