.profitChartContainer{
    margin-top: 50px;
}

.chartBackProfitMoney{
    width: 100%;
    height: 475px;
}

.chartBackProfitUnits{
    width: 100%;
    height: 475px;
}

.chartBackCurrency{
    width: 100%;
    height: 475px;
}

.innerChartBack{
    width: 350px;
    height: 450px;
    margin: auto;
    padding-top: 6.25%;
}

.titleDiv{
    font-family: 'TipstApp';
}
